* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #222831;
}

.area {
  width: 80vw;
  margin: 10px;
}
.side {
  display: flex;
  flex-direction: column;

  margin: 10px;
  width: 20vw;
  border-radius: 0.3rem;
  background-color: #222831;

  .bins {
    overflow-y: scroll;
    height: 80vh;

    .head {
      display: flex;
      color: #aaa;
      margin: 10px;
      justify-content: space-between;

      .clear {
        cursor: pointer;
      }
    }

    .bin {
      border: 1px solid #00adb5;
      border-radius: 0.2rem;
      padding: 3px;
      margin: 5px;
      background-color: #222831;
      color: #eeeeee;
      cursor: pointer;
    }
  }
}

header {
  display: flex;
  // flex-direction: column;
  color: #eee;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #393e46;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0 10px 0;
}

main {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
}

footer {
  // margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #009097;
  }
}

button,
select,
input {
  border: 3px solid #00adb5;
  background-color: #222831;
  color: #eeeeee;
  font-weight: bold;
  border-radius: 1rem;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
