* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #222831;
}

.area {
  width: 80vw;
  margin: 10px;
}
.side {
  z-index: 1;

  display: flex;
  flex-direction: column;

  margin: 10px;
  width: 20vw;
  border-radius: 0.3rem;
  background-color: #222831;

  .bins {
    .bins-list {
      overflow-y: scroll;
      height: 80vh;
    }

    .head {
      display: flex;
      color: #aaa;
      margin: 10px;
      justify-content: space-between;

      .clear {
        cursor: pointer;
      }
    }

    .bin {
      border: 1px solid #00adb5;
      border-radius: 0.2rem;
      padding: 3px;
      margin: 5px;
      background-color: #222831;
      color: #eeeeee;
      cursor: pointer;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #393e46;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0 10px 0;

  a {
    text-decoration: none;
  }
}

main {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
}

footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #009097;
  }
}

button {
  border: 3px solid #00adb5;
  background-color: #222831;
  color: #eeeeee;
  font-weight: bold;
  border-radius: 1rem;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

input,
select {
  border: 0;
  border-bottom: 2px solid #00adb5;
  background-color: #222831;
  color: #eeeeee;
  font-weight: bold;
  padding: 5px;
  outline: none;
  margin-bottom: 30px;
}

input {
  cursor: text;
}

select {
  cursor: pointer;
}

main {
  perspective: 700px;
}

header {
  background: hsl(204 100% 5%);

  span {
    background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 14px;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
  }
}

.grid {
  $main: #7d41e6;
  $glow: rgba(#2e26ff, 0.4);
  background: linear-gradient(
      transparent 65%,
      $glow 75%,
      $main 80%,
      $glow 85%,
      transparent 95%
    ),
    linear-gradient(
      90deg,
      transparent 65%,
      $glow 75%,
      $main 80%,
      $glow 85%,
      transparent 95%
    );
  background-size: 30px 30px;
  width: 200vw;
  height: 300vh;
  position: absolute;
  bottom: -120vh;
  transform: rotateX(-100deg);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
}

.switch {
  height: 30px;
  outline: none;
  color: #9294f8;
  background: #111;
  border-radius: 10px;
  border: 1px solid #6465b5;
}
